doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Stock Master
    link(rel="stylesheet" href="/css/style.css")

  body
    h3 Something went wrong
    p Please try again
    a(href="/")
      button(class="success") Home Page
    pre.error!= stackHighlighted