doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Stock Master
    script(src="js/stocksTheme.js")

  body
    h2 Error
