doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Stock Master
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>


  body
    div(id="container" style="height: 400px; min-width: 310px")
    if (companyNames)
      each company in companyNames
        div
          h2= company
          a(href=`/remove-stock/${company}`)
            button Remove

    div
      form(action="")
        input(id="m" name="company" placeholder="enter stock code")
        input(type="submit" value="add")

    script seriesOptions = !{seriesOptions}
    script companyArray = !{companyArray}
    script(src="js/stocksTheme.js")
    script(src="js/createChart.js")
    script(src="/socket.io/socket.io.js")
    script(src="/js/realtime.js")