doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Stock Master
    link(rel="stylesheet" href="/css/style.css")
    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(src="https://code.highcharts.com/stock/highstock.js")
    script(src="https://code.highcharts.com/stock/modules/exporting.js")


  body
    div(id="container" style="height: 400px; min-width: 310px")
    div(id="allStocks")
      if (companyNames)
        each company in companyNames
          div(class="stock-details")
            h2= company
            button(class="danger" id=`${company}`) Remove

    div(class="new-stock-wrapper")
      form(action="" class="addStockForm")
        p Sync across clients in realtime
        input(id="stockName" name="company" placeholder="enter stock code")
        input(type="submit" class="success" value="add")

    script var stockOptions = []
    script var companyArray = !{companyArray}
    script(src="/socket.io/socket.io.js")
    script(src="/dist/App.bundle.js")